<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582376843986-vf8sqsgfngvbbkmc4kkh034oi9fqmsci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582376843986-vf8sqsgfngvbbkmc4kkh034oi9fqmsci</string>
	<key>API_KEY</key>
	<string>AIzaSyCjis9Ud2Pc8Y-w7ao-uH9yhMuHGIujHBM</string>
	<key>GCM_SENDER_ID</key>
	<string>582376843986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalBlocExample</string>
	<key>PROJECT_ID</key>
	<string>bloc-final-example</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-final-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582376843986:ios:e37825f11e3ae784a49b0b</string>
</dict>
</plist>